.p_card {
  background-color: #fff;
  width: 100%;
  max-width: 320px;
  height: 420px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding: 1.5rem;
  position: relative;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
}

.p_card:hover {
  transform: translateY(20px);
  background-color: #f6f6f6;
}

.p_content {
  padding: 0.5rem 1.2rem;
  gap: 2px;
  text-align: center;
}

.p_img img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  object-position: center;
  object-fit: cover;
}

.p_card:hover .p_btn {
  display: flex;
}

.p_card:hover h2,
.p_card:hover p {
  display: none;
}

.p_content h2 {
  font-weight: 600;
}


  .p_content p {
    color: #afacac;
    font-size: 14px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }


.p_btn {
  display: none;
  gap: 10px;
  position: absolute;
  bottom: 15%;
  left: 24%;
  transition: all 1s ease-in;
}

.p_button {
  font-size: 1.1rem;
  padding: 0.4rem 0.8rem;
  border: none;
  background-color: #d6d6d6;
  color: black;
  transition: all 0.5s ease-in;
}

@media screen and (max-width: 1000px) {
  .p_card {
    max-width: 280px;
    height: 400px;
    margin: 10px;
  }

  .p_content h2 {
    font-size: 1rem;
  }

  .p_content p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 822px) {
  .p_card {
    max-width: 380px;
    height: 340px;
    margin: 10px;
  }
  .p_img img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    object-position: center;
    object-fit: cover;
  }
  .p_content h2{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .p_card {
    max-width: 360px;
    height: 400px;
    margin: 10px;
  }
  .p_card:hover {
    transform: none;
  }
  .p_card:hover .p_btn {
    display: none;
  }
  
  .p_card:hover h2,
  .p_card:hover p {
    display: block;
  }

  .p_card img{
    width: 100%;
    height: 220px;
  }

  .p_content h2{
    font-size: 1.4rem;
  }
  .p_content p{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .p_card {
    margin-bottom: 20px;
    max-width: 280px;
    height: 370px;
  }

  .p_img img {
    height: 180px;
  }
  .p_content {
    gap: 10px;
    padding-bottom: 1.5rem;
    text-align: center;
  }

  .p_content h2 {
    font-size: 1.3rem;
  }

  .p_content p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 350px) {
  .p_card {
    max-width: 280px;
    height: 370px;
  }

  .p_img img {
    height: 180px;
  }

  .p_btn {
    bottom: 5%;
    left: 30%;
  }

  .p_button {
    font-size: 0.6rem;
    padding: 0.2rem 0.6rem;
  }

  .p_content {
    gap: 10px;
    padding-bottom: 1.5rem;
  }

  .p_content h2 {
    font-size: 1.2rem;
  }

  .p_content p {
    font-size: 0.6rem;
  }
}
